@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body{
    font-family: 'Poppins';
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

#progressbar {
    position: fixed;
    top: 3px;
    left: 0;
    height: 7px;
    background: green;
    z-index: 100;
    border-radius: 20px;
}

.dark #progressbar {
    background-color: white;
}
.slider {
    position: fixed;
    top: 0;
    left: -600px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: all .4s;
    border-right: 2px solid rgba(53, 173, 53, 0.705);
    z-index: 3;
}

.dark .slider {
    background-color: rgb(0, 43, 0);
}

#nav-cross {
    position: absolute;
    right: 26px;
}

.slider ul {
    margin: 80px 0 0 50px;
    padding: 0;
}

.slider ul li {
    text-align: center;
    list-style: none;
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.slider ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
}

.dark .slider ul li a {
    color: white;
}

.slider ul li:hover {
    background-color: rgba(0, 128, 0, 0.279);
    border-radius: 20px;
}

.fa,
.fas {
    margin-top: 20px;
    font-weight: 600;
    zoom: 1.2;
    cursor: pointer;
}

.side-footer {
    position: absolute;
    bottom: -23px;
    text-align: center;
    width: 100%;
}

.side-footer .icons a {
    position: relative;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}

.side-footer .icons a i {
    display: inline-flex;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: rgb(36 142 44);
    background-color: rgba(255, 255, 255, 0.904);
    box-shadow: inset 0px 0px 11px -5px #005f003f,
        inset 0px 0px 11px -5px #005f003f,
        inset 0px 0px 11px -5px #005f003f;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.side-footer .icons a i:hover {
    animation: animate_icon .5s ease-in-out forwards;
}

@keyframes animate_icon {
    0% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 0%, transparent 0%);

    }

    10% {
        background-image: linear-gradient(45deg, rgb(44 181 54 / 84%) 10%, transparent 0%);
    }

    20% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 20%, transparent 0%);
    }

    30% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 30%, transparent 0%);
    }

    40% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 40%, transparent 0%);
    }

    50% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 50%, transparent 0%);
    }

    60% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 60%, transparent 0%);
    }

    70% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 70%, transparent 0%);
    }

    80% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 80%, transparent 0%);
    }

    90% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 90%, transparent 0%);
    }

    100% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 100%, transparent 00%);
        color: rgb(245, 245, 245);
    }
}

.side-footer h5 {
    background-color: rgba(0, 128, 0, 0.279);
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}

#dark-btn {
    position: fixed;
    top: 23px;
    left: 15px;
    width: 22px;
    height: 22px;
    background: rgb(0, 202, 34);
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}
#dark-btn::before {
    font-family: "Font Awesome 5 Free";
    content: '\f186';
    position: relative;
    top: -1.5px;
    left: 3px;
    font-weight: 900;
}

#dark_slider{
    position: fixed;
    top: 20px;
    left: 9px;
    width: 70px;
    height: 28px;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    z-index: 2;
}
.slider .dark-btn{
    left: 10px;
    top: 21px;
}
#slider-check{
    position: fixed;
    width: 29px;
    height: 20px;
    top: 25px;
    left: 45px;
    cursor: pointer;
    z-index: 3;
}

#nav-bars {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 20px;
    transition: all 0.5s;
}

#nav-bars::before {
    content: '';
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 7px;
    width: 20px;
    height: 4px;
    background-color: black;
    border-radius: 20px;
    transition: all 0.5s;
}

#nav-bars::after {
    content: '';
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 14px;
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 20px;
    transition: all 0.5s;
}
.dark #nav-bars::before,
.dark #nav-bars::after,
.dark #nav-bars{
    background: white;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: -400px;
  width: 100%; /* Full width */
  height: 0%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  transition: all 0.5s;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
  border-radius: 15px;
}
#myBtn{
  background: transparent;
  border: none;
  letter-spacing: 1px;
  font-family: 'Poppins';
  font-size: 18px;
}
/* The Close Button */
.close {
    position: relative;
    top: -23px;
    left: 10px;
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content form input{
    width: 80%;
    padding: 5px;
    margin: 5px 23px;
    border: 1px solid black;
    border-radius: 5px;
}
.modal-content form button{
    display: block;
    margin: 10px auto 0px;
    width: 30%;
    padding: 2px 0px;
    background: #0d6efd;
    border: 1px solid #0d6efd;
    color: white;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
}

section {
    transition: all .4s;
}
footer {
    margin: -21px 0;
    padding: 0;
    text-align: center;
}

.dark footer {
    background: #0c421e;
}

.footer-icons {
    text-align: center;
}

.footer-icons ul {
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
}

.footer-icons ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}

.footer-icons ul li a {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    overflow: hidden;
    transition: 0.5s;
}

.footer-icons ul li a:hover {
    transform: translateY(-10px);
}

.dark .footer-icons ul li a {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.dark .footer-icons ul li a::before {
    background: white;
}

.footer-icons ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
    background: black;
    transform: skewX(45deg) translateX(50px);
    overflow: hidden;
    transition: 0.5s;
}

.footer-icons a:hover::before {
    transform: skewX(45deg) translateX(-30px);
}

footer h4 {
    background: #6dad69;
}

.dark footer h4 {
    background: #033500;
}
