@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.dark {
    background-color: #0c421e;
    color: white;
}
/* Massage css */
.login-error{
    position: fixed;
    border-radius: 16px;
    background: red;
    width: 100%;
    padding: 0;
    margin: auto 0;
    z-index: 5;
    height: 63px;
}

.login-error h4{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.login-error span{
    left: -13px;
    top: -53px;
}

/* Home section css */

#home {
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding-top: 10px;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 72vh;
    background: white;
    opacity: 0.2;
}

.dark #home::before {
    opacity: 0;
}

#home h2 {
    text-align: center;
}

.dark #home h2 {
    color: white;
    font-weight: bolder;
    opacity: 1;
}

#home a {
    position: absolute;
    right: 30px;
    top: 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 0px 8px;
    border: 2px solid black;
    border-radius: 20px;
}

.dark #home a {
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

#home .info {
    font-weight: 400;
    text-align: center;
    margin-top: 170px;

}

#home .info h3,
#home .info p {
    margin: 0;
}

#bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
    opacity: .7;
}

/* About section css */

#about div p {
    position: relative;
    top: 30vh;
    background: white;
    z-index: 1;
    height: fit-content;
    padding: 16px;
}

.dark #about div p {
    background: #0c421e;
}

#about h2 {
    font-weight: 500;
    text-align: center;
    padding-top: 15px;
}

#about .card {
    display: flex;
    padding-bottom: 30px;
    margin: 0px 20px;
    height: 78vh;
}

#about .card .img {
    position: absolute;
    background: url("../img/about-bg.png");
    background-position: right;
    background-size: cover;
    width: 59.5%;
    height: 100%;
    margin: -86px 0px;
    right: 0;
    z-index: -1;
}

#about .card .side-para {
    width: 81.7%;
    text-align: justify;
    margin: 5px 30px;
}

#about .card .name-heading {
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

/* Resposive About */
@media only screen and (max-width: 1300px) {
    #about div p {
        top: 0;
    }

    #about .card {
        height: 100vh;
    }

    #about .card .img {
        height: 117vh;
    }
}

@media only screen and (max-width: 320px) {
    #about div p {
        top: 0;
    }

    #about .card {
        height: 120vh;
    }

    #about .card .img {
        height: 140vh;
    }
}

/* Contact section css */

#contact {
    background: url("../img/contact-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-top: 5px solid white;
    z-index: 0;
}

.dark #contact {
    border-top: 5px solid rgb(0, 43, 0);
}

#contact .heading h2 {
    width: 100%;
    margin: 20px auto;
    font-weight: 500;
    text-align: center;
    padding: 40px 0px;
    font-size: 36px;
}

#contact .form {
    display: inline-block;
    margin: auto;
    height: 266px;
    box-shadow: 2px 3px 27px 22px rgb(36 51 37 / 84%);
    padding: 87px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    position: absolute;
    margin-top: -25px;
    right: 20%;

}

#contact .info {
    display: none;
    position: absolute;
    margin-top: 30px;
    left: 350px;
    width: 292px;
    height: 324px;
    background: rgb(90, 186, 83);
    background: linear-gradient(100deg, rgba(90, 186, 83, 1) 31%, rgba(0, 194, 255, 1) 100%);
    border-radius: 20px;
    z-index: 0;
}

#contact .info::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    background: linear-gradient(100deg, rgba(90, 186, 83, 1) 31%, rgba(0, 194, 255, 1) 100%);
    transform: translateY(30px) scale(0.9);
    z-index: -1;
}

#contact .info h4 {
    text-align: center;
}

#contact .info ul {
    margin: -14px;
}

#contact .info ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact form input {
    color: white;
    position: relative;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    padding-top: 10px;
    margin-bottom: 6px;
    background: transparent;
    font-family: 'Poppins';
}

#contact form span#lname {
    color: white;
    position: relative;
    top: -4px;
    left: -160px;
    transition: top .5s;
    user-select: none;
}

#contact form input[id=name]:focus+span#lname,
#contact form input[id=name]:valid+span#lname {
    position: relative;
    top: -26px;
    left: -163px;
    background-color: transparent;
    padding: 0 5px 0 2px;
    font-size: 13px;
    font-weight: 500;
}

#contact form label[for=class] {
    color: white;
    position: relative;
    left: -17px;
    font-size: 17px;
}

#contact form select[id=class] {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    position: relative;
    left: -10px;
    padding: 4px;
    outline: none;
}

#contact form select[id=class] option {
    color: black;
}

#contact form textarea {
    color: white;
    background: transparent;
    display: block;
    margin-top: 10px;
    resize: none;
    padding: 10px 10px 0 10px;
    font-family: 'Poppins';
    outline: none;
    border: none;
    border-bottom: 2px solid white;
}

#contact form span#lmessage {
    color: white;
    position: relative;
    top: -191px;
    left: 5px;
    user-select: none;
    transition: top .5s;
}

#contact form textarea[id=message]:focus+span#lmessage,
#contact form textarea[id=message]:valid+span#lmessage {
    position: relative;
    top: -205px;
    left: 6px;
    padding: 0 5px 0 2px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;

}

#contact form #submit {
    font-family: 'Poppins';
    position: absolute;
    right: 36.9%;
    margin: 10px;
    letter-spacing: 1px;
    border: none;
    background: linear-gradient(100deg, rgba(90, 186, 83, 1) 31%, rgba(0, 194, 255, 1) 100%);
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 3px;
}
