@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.dark {
    background-color: #0c421e;
    color: white;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

#progressbar {
    position: fixed;
    top: 3px;
    height: 7px;
    background: green;
    z-index: 100;
    border-radius: 20px;
}

.dark #progressbar {
    background-color: white;
}

.slider {
    position: fixed;
    top: 0;
    left: -500px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: all .4s;
    border-right: 2px solid rgba(53, 173, 53, 0.705);
    z-index: 101;
}

.dark .slider {
    background-color: rgb(0, 43, 0);
}

.slider label {
    position: absolute;
    right: 26px;
}

.slider ul {
    margin: 80px 0 0 50px;
    padding: 0;
}

.slider ul li {
    text-align: center;
    list-style: none;
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.slider ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
}

.dark .slider ul li a {
    color: white;
}

.slider ul li:hover {
    background-color: rgba(0, 128, 0, 0.279);
    border-radius: 20px;
}

#slider-check {
    display: none;
    cursor: pointer;
}

.nav-border {
    position: fixed;
    top: 20px;
    left: 6px;
    width: 70px;
    height: 26px;
    z-index: 100;
    backdrop-filter: blur(25px);
    border-radius: 20px;
}

#dark-btn {
    position: fixed;
    top: 22px;
    left: 10px;
    width: 22px;
    height: 22px;
    background: rgb(0, 202, 34);
    z-index: 102;
    border-radius: 50%;
}

.dark #dark-btn {
    background: black;
}

#dark-btn::before {
    font-family: "Font Awesome 5 Free";
    content: '\f186';
    position: relative;
    top: -1px;
    left: 3px;
    font-weight: 900;
}

.dark #dark-btn::before {
    font-family: "Font Awesome 5 Free";
    content: '\f185';
    position: relative;
    top: -1px;
    left: 3px;
    font-weight: 900;
    color: rgb(0, 202, 34);
}

#nav-bars {
    position: fixed;
    cursor: pointer;
    left: 40px;
    top: 25px;
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 20px;
    z-index: 100;
}

#nav-bars::before {
    content: '';
    position: fixed;
    cursor: pointer;
    left: 40px;
    top: 31px;
    width: 20px;
    height: 4px;
    background-color: black;
    border-radius: 20px;
}

#nav-bars::after {
    content: '';
    position: fixed;
    cursor: pointer;
    left: 40px;
    top: 37px;
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 20px;
}

.dark #nav-bars,
.dark #nav-bars::before,
.dark #nav-bars::after {
    background-color: white;
}

.fa,
.fas {
    margin-top: 20px;
    font-weight: 600;
    zoom: 1.2;
    cursor: pointer;
}

.side-footer {
    position: absolute;
    bottom: -23px;
    text-align: center;
    width: 100%;
}

.side-footer .icons a {
    position: relative;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
}

.side-footer .icons a i {
    display: inline-flex;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: rgb(36 142 44);
    background-color: rgba(255, 255, 255, 0.904);
    box-shadow: inset 0px 0px 11px -5px #005f003f,
        inset 0px 0px 11px -5px #005f003f,
        inset 0px 0px 11px -5px #005f003f;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.side-footer .icons a i:hover {
    animation: animate_icon .5s ease-in-out forwards;
}

@keyframes animate_icon {
    0% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 0%, transparent 0%);

    }

    10% {
        background-image: linear-gradient(45deg, rgb(44 181 54 / 84%) 10%, transparent 0%);
    }

    20% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 20%, transparent 0%);
    }

    30% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 30%, transparent 0%);
    }

    40% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 40%, transparent 0%);
    }

    50% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 50%, transparent 0%);
    }

    60% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 60%, transparent 0%);
    }

    70% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 70%, transparent 0%);
    }

    80% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 80%, transparent 0%);
    }

    90% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 90%, transparent 0%);
    }

    100% {
        background-image: linear-gradient(45deg, rgb(36 142 44/ 84%) 100%, transparent 00%);
        color: rgb(245, 245, 245);
    }
}

.side-footer h5 {
    background-color: rgba(0, 128, 0, 0.279);
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}

section {
    transition: all .4s;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: -400px;
  width: 100%; /* Full width */
  height: 0%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  transition: all 0.5s;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
  border-radius: 15px;
}
#myBtn{
  background: transparent;
  border: none;
  letter-spacing: 1px;
  font-family: 'Poppins';
  font-size: 18px;
}
/* The Close Button */
.close {
    position: relative;
    top: -23px;
    left: 10px;
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content form input{
    width: 80%;
    padding: 5px;
    margin: 5px 23px;
    border: 1px solid black;
    border-radius: 5px;
}
.modal-content form button{
    display: block;
    margin: 10px auto 0px;
    width: 30%;
    padding: 2px 0px;
    background: #0d6efd;
    border: 1px solid #0d6efd;
    color: white;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
}

/* Home section css */

#home {
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding-top: 10px;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 72vh;
    background: white;
    opacity: 0.2;
}

.dark #home::before {
    opacity: 0;
}

#home h2 {
    text-align: center;
}

.dark #home h2 {
    color: white;
    font-weight: bolder;
    opacity: 1;
}

#home a {
    position: absolute;
    right: 30px;
    top: 20px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 0px 8px;
    border: 2px solid black;
    border-radius: 20px;
}

.dark #home a {
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

#home .info {
    font-weight: 400;
    text-align: center;
    margin-top: 170px;

}

#home .info h3,
#home .info p {
    margin: 0;
}

#bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
    opacity: .7;
}

/* About section css */

#about div p {
    position: relative;
    top: 30vh;
    background: white;
    z-index: 1;
    height: fit-content;
    padding: 16px;
}

.dark #about div p {
    background: #0c421e;
}

#about h2 {
    font-weight: 500;
    text-align: center;
    padding-top: 15px;
}

#about .card {
    display: flex;
    padding-bottom: 30px;
    margin: 0px 20px;
    height: 78vh;
}

#about .card .img {
    position: absolute;
    background: url("../img/about-bg.png");
    background-position: right;
    background-size: cover;
    width: 59.5%;
    height: 100%;
    margin: -86px 0px;
    right: 0;
    z-index: -1;
}

#about .card .side-para {
    width: 81.7%;
    text-align: justify;
    margin: 5px 30px;
}

#about .card .name-heading {
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

/* Resposive About */
@media only screen and (max-width: 1300px) {
    #about div p {
        top: 0;
    }

    #about .card {
        height: 100vh;
    }

    #about .card .img {
        height: 117vh;
    }
}

@media only screen and (max-width: 320px) {
    #about div p {
        top: 0;
    }

    #about .card {
        height: 120vh;
    }

    #about .card .img {
        height: 140vh;
    }
}

/* Contact section css */

#contact {
    background: url("../img/contact-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-top: 5px solid white;
    z-index: 0;
}

.dark #contact {
    border-top: 5px solid rgb(0, 43, 0);
}

#contact .heading h2 {
    width: 100%;
    margin: 20px auto;
    font-weight: 500;
    text-align: center;
    padding: 40px 0px;
    font-size: 36px;
}

#contact .form {
    display: inline-block;
    margin: auto;
    height: 266px;
    box-shadow: 2px 3px 27px 22px rgb(36 51 37 / 84%);
    padding: 87px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    position: absolute;
    margin-top: -25px;
    right: 20%;

}

#contact .info {
    position: absolute;
    margin-top: 30px;
    left: 350px;
    width: 292px;
    height: 324px;
    background: rgb(90, 186, 83);
    background: linear-gradient(100deg, rgba(90, 186, 83, 1) 31%, rgba(0, 194, 255, 1) 100%);
    border-radius: 20px;
    z-index: 0;
}

#contact .info::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    background: linear-gradient(100deg, rgba(90, 186, 83, 1) 31%, rgba(0, 194, 255, 1) 100%);
    transform: translateY(30px) scale(0.9);
    z-index: -1;
}

#contact .info h4 {
    text-align: center;
}

#contact .info ul {
    margin: -14px;
}

#contact .info ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact form input {
    color: white;
    position: relative;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    padding-top: 10px;
    margin-bottom: 6px;
    background: transparent;
    font-family: 'Poppins';
}

#contact form span#lname {
    color: white;
    position: relative;
    top: -4px;
    left: -160px;
    transition: top .5s;
    user-select: none;
}

#contact form input[id=name]:focus+span#lname,
#contact form input[id=name]:valid+span#lname {
    position: relative;
    top: -26px;
    left: -163px;
    background-color: transparent;
    padding: 0 5px 0 2px;
    font-size: 13px;
    font-weight: 500;
}

#contact form label[for=class] {
    color: white;
    position: relative;
    left: -17px;
    font-size: 17px;
}

#contact form select[id=class] {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    position: relative;
    left: -10px;
    padding: 4px;
    outline: none;
}

#contact form select[id=class] option {
    color: black;
}

#contact form textarea {
    color: white;
    background: transparent;
    display: block;
    margin-top: 10px;
    resize: none;
    padding: 10px 10px 0 10px;
    font-family: 'Poppins';
    outline: none;
    border: none;
    border-bottom: 2px solid white;
}

#contact form span#lmessage {
    color: white;
    position: relative;
    top: -191px;
    left: 5px;
    user-select: none;
    transition: top .5s;
}

#contact form textarea[id=message]:focus+span#lmessage,
#contact form textarea[id=message]:valid+span#lmessage {
    position: relative;
    top: -205px;
    left: 6px;
    padding: 0 5px 0 2px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;

}

#contact form #submit {
    font-family: 'Poppins';
    position: absolute;
    right: 36.9%;
    margin: 10px;
    letter-spacing: 1px;
    border: none;
    background: linear-gradient(100deg, rgba(90, 186, 83, 1) 31%, rgba(0, 194, 255, 1) 100%);
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 3px;
}

footer {
    margin: -21px 0;
    padding: 0;
    text-align: center;
}

.dark footer {
    background: #0c421e;
}

.footer-icons {
    text-align: center;
}

.footer-icons ul {
    position: relative;
    display: flex;
    z-index: 2;
    justify-content: center;
}

.footer-icons ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}

.footer-icons ul li a {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    overflow: hidden;
    transition: 0.5s;
}

.footer-icons ul li a:hover {
    transform: translateY(-10px);
}

.dark .footer-icons ul li a {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.dark .footer-icons ul li a::before {
    background: white;
}

.footer-icons ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
    background: black;
    transform: skewX(45deg) translateX(50px);
    overflow: hidden;
    transition: 0.5s;
}

.footer-icons a:hover::before {
    transform: skewX(45deg) translateX(-30px);
}

footer h4 {
    background: #6dad69;
}

.dark footer h4 {
    background: #033500;
}

/* Resposive contect */
@media only screen and (max-width: 1500px) {
    #contact .info {
        left: 250px;
    }
}

@media only screen and (max-width: 1300px) {
    #contact .info {
        left: 150px;
    }

    #contact .form {
        right: 13%;
    }
}

@media only screen and (max-width: 1000px) {
    #contact {
        height: 170vh;
    }

    #contact .form {
        padding: 87px 18px;
        position: unset;
        margin: 0 3% 0% 4%;
        right: 0;
    }

    #contact .info {
        margin: 20% 5%;
        left: 0;
    }

    #contact form input {
        width: 100%;
    }

    #contact form span#lname {
        top: -60px;
        left: 0;
    }

    #contact form input[id=name]:focus+span#lname,
    #contact form input[id=name]:valid+span#lname {
        top: -70px;
        left: 0px;
    }

    #contact form textarea {
        width: 93%;
    }

    #contact form label[for=class] {
        left: -53px;
    }

    #contact form select[id=class] {
        width: 100%;
        left: -2px;
    }

    #contact .info ul {
        margin: 0;
    }
}

@media only screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .slider {
        left: -600px;
        width: 100%;
    }

    #slider-check:checked~.slider {
        left: 0;
    }

    #slider-check:checked~section {
        margin-left: -100px;
    }

    .slider ul {
        margin: 87px
    }

    .slider ul li {
        width: 100%;
    }

}