{% extends 'base.html' %}
{% block link %}
    <link rel="stylesheet" href="/static/css/database.css">
{% endblock link %}

{% block address_links %}
      <li><a href="/#">Home</a></li>
      <li><a href="/#about">About Us</a></li>
      <li><a href="/#contact">Contact Us</a></li>
      <li style="display : {{login_dis}}"><button id="myBtn"><a href="#">Login</a></button></li>
      <li style="display : {{logout_dis}}"><a href="/editData" target="_blank">Edit Data</a></li>
      <li style="display : {{logout_dis}}"><a href="/handlelogout">Logout</a></li>
{% endblock address_links %}

{% block body %}
{% for data in datas %}
    <div class="card">
        <img src=' /media/{{data.image}}' alt="">
        <div class="info">
            <div class="label">
                <h2>Name :</h2>
                <h2>Place :</h2>
                <h2>Disc :</h2>
            </div>
            <div class="value">
                <h2>{{data.name}}</h2>
                <h2>{{data.place}}</h2>
                <h2>{{data.disc|slice:":24"}}</h2>
            </div>
        </div>
        <a class="read" href="#">Read More</a>
    </div>
{% endfor %}
{% endblock body %}
{% block js %}
<script src="/static/js/database.js"></script>
{% endblock js %}
<!DOCTYPE html>
