<!-- {% comment %} {% extends 'base.html' %}

{% block login %}

{% endblock login %} {% endcomment %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/database.css">
    <title>Document</title>
</head>
<body>
{% for data in datas %}
    <div class="card">
        <img src=' /media/{{data.image}}' alt="">
        <div class="info">
            <div class="label">
                <h2>Name :</h2>
                <h2>Place :</h2>
                <h2>Disc :</h2>
            </div>
            <div class="value">
                <h2>{{data.name}}</h2>
                <h2>{{data.place}}</h2>
                <h2>{{data.disc|slice:":24"}}</h2>
            </div>
        </div>
        <a class="read" href="#">Read More</a>
    </div>
{% endfor %}
<script src="/static/js/database.js"></script>
</body>
</html>